<%- contentFor('hero') %>
<section class="hero">
    <div class="hero-content">
        <h2>All about me!</h2>
        <p>Pablo F. Guerra</p>
        <a href="/contact" class="btn btn-lg btn-primary">Drop us a line</a>
    </div>
</section>


<%- contentFor('body') %>
<div class="jumbotron text-center">
    About Page
</div>
